p {
	color: navy;
	
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 1px 1px 10px navy;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white, #ffefaf);
	margin: 5px 0px 0px 0px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px;
	grid-gap:10px;
	width: 1024px;
}

div#zentai > div {
	padding:0px 5px;
	background-color: #ffefaf;
	
}
img.sign{
	float: right;
}